body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  min-height: 100vh;
  background: url(file:C:/Users/Oleksandr%20Prusikov/Decode/html-css-workshop/CSS/problem15);
  background-size: cover;
  color:#fff;
}
